h2{
    color:palegreen;
    background-color:rgb(117, 201, 0);
}
button{
    color:red;
    background-color: cyan;
}
p{
    color:red;
    background:orange;
}
body{
    background-color: #456789;
}
