header a{
    color:teal;
    font-size: 30px;
}
#dislikes a{
    color:red;
    font-weight: bold;
}
<!--DON'T CHANGE THIS FILE (PLEASE!)-->
<header>
  <a href="/home">Home</a>
  <a href="/contact">Contact</a>
  <a href="/about">About</a>
</header>

<p>
  I like to eat <a href="/popcorn">popcorn</a> and <a href="/donuts">donuts</a>
</p>

<p id="dislikes">
  I hate eating <a href="/pickles">pickles</a> and <a href="/beets">beets</a>
</p>

////
.tag{
    background-color: green;
}
li span{
    color:red;
}
input + button{
    background-color: pink;
}
h1+li{
    font-size: 20px;
    background-color: magenta;
}
input>button{
    color: aqua;
}
input[type="text"]{
    color:green;
}
h1[type="password"]{
    background-color: red;
}
a[href*="google"]{
    color:magenta;
}

